﻿@model FizzBuzz.Models.FizzBuzzModel
@{
    ViewBag.Title = "Home";
}
@using (Html.BeginForm("Home", "FizzBuzz", FormMethod.Post))
{
   <div class="form-horizontal">
   <div class="form-group">
            @Html.LabelFor(model => model.UserInput, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.UserInput)
                @Html.ValidationMessageFor(model => model.UserInput, "", new { @class = "fizzbuzzError" })
            </div>
    </div>
   <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
  </div>
       <div>
         @if (Model != null)
            {
                @Html.Partial("FizzBuzzList")

            }
     </div>
</div>
}