﻿@model FizzBuzz.Models.FizzBuzzModel
@using PagedList.Mvc;
<div class="divResult">
    @if (Model != null)
    {
        foreach (var item in Model.Result)
        {
            var result = item.Split(' ');
            foreach(var str in result)
            {
            <span class="@str">@str</span>
        
             }
             <br />
        }
    }

    <div id="container" style="margin-left: 20px">

    @{
        var renderOptions = PagedListRenderOptions.Minimal;
        renderOptions.LinkToPreviousPageFormat = "Previous";
        renderOptions.LinkToNextPageFormat = "Next";
    }

    <div class="pagination" style="margin-left: 400px">
        @Html.PagedListPager(Model.Result, page => Url.Action("Home", new { Model.UserInput, page }), renderOptions)
    </div>
</div>